# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Arduino build files
*.hex
*.elf
*.bin

# Arduino backup files
*~
*.bak
*.tmp

# Mac system files
.DS_Store

# VS Code project files
.vscode/
*.code-workspace

# PlatformIO project files
.pio/
.clangd/
.idea/

# Blynk or WiFi credentials (your secrets)
secrets.h
